.meals-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.show-meal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    margin: 70px 100px;
}

.meal-details{
    position: sticky;
    top: 0;
    background-color: rgba(255, 228, 196, 0.767);
    padding-top: 20px;
    padding-left: 30px;
}